body 
{
	background-color:				#000000;
	color:							#808080;
	font-family:					monospace, verdiana, arial;
	font-size:						14px;
}

#container
{
	width:							90%;
}

input {
	background:						#000000;
	color:							#808080;
	border:							none;
}
